<div class="container-fluid card text-center p-0">
  <div class="card-header bg-white p-0" style="border-bottom: 4px solid #B0B0B0!important;">
      <app-nav-bar></app-nav-bar>
  </div>
  <div class="card-body" style="background-color: #ECECEC;">
    <app-mock-body></app-mock-body>
  </div>
  <div class="card-footer" style="background-color: #313840;">
    <div class="footer">
      <app-primary-footer></app-primary-footer>
    </div>
  </div>
  <div class="card-footer" style="background-color: #272C30">
      <div class="footer">
          <app-secondary-footer></app-secondary-footer>
      </div>
    </div>
</div>