<div class="text-left pl-1">
  <h5>
    <span style="color: #F7683C">TSD</span> (Application Name)
  </h5>
  <p>
    CONFIDENTIALITY NOTICE:
  </p>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor metus, elementum vel tincidunt at, faucibus nec purus. Ut rhoncus, augue non maximus finibus, sem nisl dictum nulla, nec condimentum sapien massa vitae nulla. Praesent et fringilla arcu. Quisque rutrum molestie nisi vitae ornare. Phasellus convallis est ac ligula pellentesque viverra at vel felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
  </p>

</div>
